@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    margin-left: auto;
    padding: 30px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    align-items: center;
}
a{
    text-decoration: none;
}
.image-box{
    display:flex;

}
.home_img{
    width: 520px;
    height: 520px;
   
    margin-top: 70px;
    border-radius: 100%;
    border: 5px solid rgb(80, 244, 159);
    margin-left: 30px;
}
.wrapper{
    height: 90vh;
    background-color: rgb(157, 155, 155);

}
.home_logo{
    width: 300px;
    height: 300px;
    margin-top: 435px;
    margin-left: 200px;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 240px;
    width: 500px;
    margin-left: 30px;
}
.home_name{
 font-size: 30px;
}
.home_heding{
    font-size: 40px;
}
.home_hire{
    font-size:30px ;
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
}
.contect1{
    font-size: 35px;
}
.content1{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 80px;
}
.home_who{
    font-size:30px ;
    background-color: purple;
    color: aliceblue;
    border-radius: 50px;
    width: fit-content;
    padding: 10px;
    margin-left: 30px;
}
.skils-img{
    width: 70px;
    height: 70px;
   
}
.skils-imgs{
    display: flex;
    flex-direction:row;
    margin-top: 200px;

justify-content: space-around;

}
.ikon-img{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: 100px;
}
.skil-font{
    font-size: 50px;
    display: flex;
    margin-left: 50px;
}
.icon-img2{
    display: flex;
    margin-top: 40px;
}
.icon-img3{
    display: flex;
    margin-top: 40px;
}
.icon-img4{
    display: flex;
    margin-top: 40px;
}
.contents1{
    display: flex;
    font-size: 50px;
    margin-left: 40px;
   
}
.contents2{
    display: flex;
    font-size: 50px;
    margin-left: 40px;
  margin-top: 40px;

}

.contents3{
    display: flex;
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.contents4{
    display: flex;
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.skils-img1{
    width: 200px;
    height: 200px;
    margin-right: 0px;
  
}
.skils-img2{
    width: 160px;
    height: 200px;
    margin-left: 50px;
}
.skils-img3{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    padding-top: 0%;
}
.skils-img4{
    width: 200px;
    height: 200px;
  padding-top: 0%;
  
}
.content-skils{
    margin-top:145px;
}
.contact-mail-img{
    width: 80px;
    height: 80px;
  
}
.contact-insta-img{
    width: 80px;
    height: 80px;
    margin-top: 35px;
}
.contact-map-img{
    width: 80px;
    height: 80px;
    margin-top: 30px;
}
.contact-font{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.contact-img-logo{
    display: flex;
    flex-direction: column;
   margin-left: 150px;
   margin-top: 100px;
}
.contact-content{
   
    margin-left: 100px;
    margin-top: 70px;

}
.content-contact{
    font-size: 50px;
    color: black;
}

.contact-logo{
    display: flex;
    margin-left: 200px;
    margin-top: 40px;
    width: 400px;
    height: 400px;
}
.font-coller{
    color: black;
}
.coller{
    background-color: black;
    padding: 10px;
    border-radius: 100px;
    color: rgb(249, 248, 248);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 600px){
    body{
        overflow-x: hidden;
        width:100%;
    }
    
    nav{
        display: flex;
        flex-direction: row;
        width: 100%;
       margin-left: 0%;
        justify-content:start;
        gap: 20px;
        margin: 0%;
        border-bottom: 5px solid  rgb(80, 244, 159) ;
        padding: 15px;
        margin-left: 0%;
    }
    .font-coller{
        font-size: 20px;
    }
    .coller{
        font-size: 20px;
    }
    .image-box{
        flex-direction: column;
    }
    .home_logo{
        display: none;
    }
    .home_img{
        width: 350px;
        height: 350px;
        margin-top: 30px;
        margin-bottom: 0%;
        align-items: center;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 0%;
    }
    .content{
        margin-top:40px;
        height: 50px;
        margin-left: 8px;
    }
    .home_name{
        font-size: 25px;
       }
       .home_heding{
           font-size: 30px;
       }
       .home_hire{
       font-size: 25px;
       }
       .wrapper{
        width: 100%;
        margin: 0%;
       }
       .content1{
        margin-top: 0%;
       }
       .home_who{
        font-size: 25px;
       }
       .home_name{
        margin: 10px;
       }
       .contect1{
        margin-top: 10px;
       }
       .skil-font{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 40px;
       }
       .skils-img1{
        width: 40%;
        
        margin-right: 0px;
        margin-left: 0%;
      
    }
    .skils-img2{
        width:26%;
       
        margin-left: 0px;
    }
    .skils-img3{
        width:40%;
        
        margin-left: 0px;
        padding-top: 0%;
    }
    .skils-img4{
        width:40%;
       
      padding-top: 0%;
    }
    .skils-imgs{
        flex-wrap: wrap;
        row-gap: 60px;
        margin-top: 65px;
    }
    .image-box{
        display: flex;
    }
    .contact-logo{
        display: none;
    }
    .contact-img-logo{
        margin-left: 15px;
    }
    .contact-content{
        font-size: 20px;
        margin-top: 0%;
        position :relative;
        bottom: 310px;
        left: 25px;
    }
    .content-contact{
        font-size: 30px;
        margin-bottom: 80px;
    }
    .contact-insta-img{
        width: 70px;
        height: 70px;
    }
    .contact-mail-img{
        width: 70px;
        height: 70px;
    }
    .contect1{
        font-size: 25px;
    }
}
